.parent{
    
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('https://t4.ftcdn.net/jpg/02/82/40/31/240_F_282403196_Ojq2fgqepkxRwsXI4lRum8xQvCEb03EF.jpg');
    background-attachment: fixed;
    height: 80vh;

}